body{
font-size: 14px;
font-family: arial,sans-serif;
color: #202124;
display: flex;
height: 100%;
}

* { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



#nav {
display: flex;
justify-content: right; 
align-items: center;
}

.gmail{
  margin: 10px;
}

#main {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
margin-top: 180px;
margin-bottom: 250px;
min-height: 500P;
}


.button {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 20 20 20 2O;
  border: 0;
  border-radius: 25%;
  gap: 20px;
}

button{
  margin: 5px;
  padding: 10PX;
  border: none;
  border-radius: 5px;
  background-color: #F8F9FA;
}

button:hover {
  padding: 15PX;
  border: solide grey;
  background-color: #F8F9FA;

}

.search-bar {
  padding: 5px;
  border: 0.1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.247);
  border-radius: 40px ;
  
  margin-bottom: 20px;
}

.search-bar:hover{
  box-shadow: 1px 1px 5px #888;
}

input{
  border: none;
  color: none;
  height: 25px;
  width: 420px;
}


#footer{
  display: flex;
  flex-direction:column;
  background-color: #F2F2F2;
  text-decoration: none;
  width: 100%;
  height: 150px;
}

.footer-list {
  display: flex;
  background-color: #F2F2F2;
  text-decoration: none;
  height: 150px;
  justify-content:space-between;
  padding: 20px;
}

.left-align .center .right{
  display: flex;
  }

.left-align ul {
  display: flex;
}

.right ul {
  display: flex;
}

.right ul li { 
  padding: 15px
}

.left-align ul li {
  padding: 15px;
}

.center li{
  display: flex;
}

a{
  text-decoration: none;
  color: grey;
  margin: 5px;
}

a:hover{
  text-decoration: underline;

}
.France{
padding: 10px;
color: grey;
border-bottom: grey 1px solid
}


.wrapper {
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo{
  margin-bottom: 20px;
}

